<div class="row">
	<div class="col-xs-12" ng-repeat="game in gamesCtrl.games | orderBy:'-id'">			
		<h3>{{ game.game_type }} on {{ game.map }} for {{ game.time_limit }} minutes at {{ game.date }}</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width:20%">Name</th>
					<th>Mech</th>
					<th style="width:12%" class="text-right">Score</th>
					<th style="width:12%" class="text-right">Kills</th>
					<th style="width:12%" class="text-right">Deaths</th>
					<th style="width:12%" class="text-right">K/D Ratio</th>
					<th style="width:12%" class="text-right">Time Played</th>
				</tr>
			</thead>
			<tbody ng-repeat="team in game.teams | orderBy:'-score'">
				<tr>
					<th>
						Team {{ team.id }} &ndash;
						<span ng-show="$first">Winner</span>
						<span ng-show="!$first">Loser</span>
					</th>
					<th>-</th>
					<th class="text-right">{{ team.score }}</th>
					<th class="text-right">{{ team.kills }}</th>
					<th class="text-right">{{ team.deaths }}</th>
					<th class="text-right">{{ mainCtrl.getKDRatio(team.kills, team.deaths) | number:2 }}</th>
					<th class="text-right">-</th>
				</tr>
				<tr ng-repeat="score in team.scores | orderBy:['-player_score']">
					<td style="padding-left:2em;">
						<span ng-show="!score.player_is_bot">
							<i class="fa fa-user fa-lg"></i>
						</span>
						<span ng-show="score.player_is_bot">
							<i class="fa fa-android fa-lg"></i>
						</span>
						<span style="padding-left:0.5em">
							{{ score.player_name }}
						</span>
					</td>
					<td>{{ score.player_mech }} ({{ score.player_weight }} tons)</td>
					<td class="text-right">{{ score.player_score }}</td>
					<td class="text-right">{{ score.player_kills }}</td>
					<td class="text-right">{{ score.player_deaths }}</td>										
					<td class="text-right">{{ mainCtrl.getKDRatio(score.player_kills, score.player_deaths) | number:2 }}</td>										
					<td class="text-right">{{ mainCtrl.getTimePlayed(score) }}</td>										
				</tr>
			</tbody>		
		</table>			
	</div>
</div>			