<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th style="width:12%" class="text-right">Score *</th>										
					<th style="width:12%" class="text-right">Games Played (25%)</th>
					<th style="width:12%" class="text-right">Wins / Loses (25%)</th>
					<th style="width:12%" class="text-right">Kills / Deaths (25%)</th>					
					<th style="width:12%" class="text-right">Efficiency ** (25%)</th>
					<th style="width:10%" class="text-right">Average Weight</th>										
					<th style="width:10%" class="text-right">Time Played</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in playersCtrl.players">
					<td>
						{{ player.player_name }}
						<div class="pull-right">
							<div class="trophy" ng-repeat="trophy in player.trophies">
								<i class="fa fa-trophy fa-lg" ng-class="{'trophy-first' : trophy.position == 1, 'trophy-second' : trophy.position == 2, 'trophy-third' : trophy.position==3}"></i>
								<div class="trophy-tooltip">
									{{ playersCtrl.getTrophyTextualPosition(trophy.position) }} @ {{ mainCtrl.getLadderById(trophy.ladder_id).name }}
								</div>															
							</div>
						</div>							
					</td>		
					<td class="text-right">
						<strong>
							{{ player.totalScore | number:2 }}
						</strong>
					</td>
					<td class="text-right">{{ player.game_played }} ({{ player.gamePlayedScore | number:2 }})</td>
					<td class="text-right">{{ player.game_won }} / {{ player.game_lost }} = {{ player.wlRatio | number:2 }} ({{ player.wlRatioScore | number:2 }})</td>												
					<td class="text-right">{{ player.sum_kills }} / {{ player.sum_deaths }} = {{ player.kdRatio | number:2 }} ({{ player.kdRatioScore | number:2 }})</td>									
					<td class="text-right">{{ player.efficiency | number:2 }} ({{ player.efficiencyScore | number:2 }})</td>										
					<td class="text-right">{{ player.average_weight | number:2 }}</td>								
					<td class="text-right">{{ playersCtrl.getTotalTimePlayed(player.time_played) }}</td>										
				</tr>
			</tbody>		
		</table>		
		<p>
			<small>* Score = 25% games played + 25% wins/loses ratio + 25% kills/deaths ratio + 25% efficiency; it's relative to your opponents.</small>
			<br />
			<small>** Efficiency is the total score divided by the time played in seconds and the average mech weight in tons.</small>
		</p>
	</div>
</div>			